$WIDTH: 100vw;

$BKG_COLOR: #1b1b1a;

@font-face {
  font-family: "Scania Sans";
  src: url("../fonts/ScaniaSansCYHeadline-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("../fonts/LabGrotesque-Regular.ttf");
  font-style: normal;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

body {
  background-color: $BKG_COLOR;
  width: $WIDTH;
  height: calc(7236 * $WIDTH);
  margin: 0;
}

.glows {
  position: absolute;
  width: $WIDTH;
  height: calc(4062 / 1440 * $WIDTH);
  left: calc(-392 / 1440 * $WIDTH);
  top: calc(-374 / 1440 * $WIDTH);

  opacity: 0.5;

  &__1 {
    position: absolute;
    width: calc(390.34 / 1440 * $WIDTH);
    height: calc(163.39 / 1440 * $WIDTH);
    left: calc(1218.81 / 1440 * $WIDTH);
    top: calc(576 / 1440 * $WIDTH);

    background: #a74e02;
    filter: blur(calc(100 / 1440 * $WIDTH));
    border-radius: 50%;
    transform: rotate(161.87deg);
  }
  &__2 {
    position: absolute;
    width: calc(874.92 / 1440 * $WIDTH);
    height: calc(927.64 / 1440 * $WIDTH);
    left: calc(1656 / 1440 * $WIDTH);
    top: calc(43 / 1440 * $WIDTH);

    background: #000000;
    filter: blur(calc(250 / 1440 * $WIDTH));
    border-radius: calc(300 / 1440 * $WIDTH);
    transform: rotate(45deg);
  }
  &__3 {
    position: absolute;
    width: calc(874.92 / 1440 * $WIDTH);
    height: calc(927.64 / 1440 * $WIDTH);
    left: calc(263.94 / 1440 * $WIDTH);
    top: calc(457 / 1440 * $WIDTH);

    background: #000000;
    filter: blur(calc(250 / 1440 * $WIDTH));
    border-radius: calc(300 / 1440 * $WIDTH);
    transform: rotate(45deg);
  }
  &__4 {
    //  TODO посмотреть, куда занесло
    position: absolute;
    width: calc(570 / 1440 * $WIDTH);
    height: calc(284 / 1440 * $WIDTH);
    left: calc(139 / 1440 * $WIDTH);
    top: calc(3404 / 1440 * $WIDTH);

    background: #000000;
    filter: blur(calc(100 / 1440 * $WIDTH));
    border-radius: calc(300 / 1440 * $WIDTH);
  }
  &__5 {
    position: absolute;
    width: calc(84 / 1440 * $WIDTH);
    height: calc(77 / 1440 * $WIDTH);
    left: calc(1630 / 1440 * $WIDTH);
    top: calc(440 / 1440 * $WIDTH);

    background: rgba(201, 115, 53, 0.68);
    filter: blur(calc(50 / 1440 * $WIDTH));
    border-radius: calc(500 / 1440 * $WIDTH);
    transform: rotate(-180deg);
  }
  &__6 {
    position: absolute;
    width: calc(201.18 / 1440 * $WIDTH);
    height: calc(87.88 / 1440 * $WIDTH);
    left: calc(1310 / 1440 * $WIDTH);
    top: calc(648 / 1440 * $WIDTH);

    background: #ffcf7a;
    filter: blur(calc(50 / 1440 * $WIDTH));
    border-radius: calc(500 / 1440 * $WIDTH);
    transform: rotate(161.87deg);
  }
  &__7 {
    position: absolute;
    width: calc(605 / 1440 * $WIDTH);
    height: calc(192 / 1440 * $WIDTH);
    left: calc(993 / 1440 * $WIDTH);
    top: calc(806 / 1440 * $WIDTH);

    background: #000000;
    filter: blur(calc(100 / 1440 * $WIDTH));
    border-radius: 50%;
    transform: rotate(157.75deg);
  }
}

.first-block {
  width: $WIDTH;
  height: calc(880 / 1440 * $WIDTH);

  &__logo-text {
    position: absolute;
    width: calc(140 / 1440 * $WIDTH);
    height: calc(70 / 1440 * $WIDTH);
    left: calc(123 / 1440 * $WIDTH);
    top: calc(76 / 1440 * $WIDTH);

    font-family: "Scania Sans", sans-serif;
    font-weight: 400;
    font-size: calc(20 / 1440 * $WIDTH);
    line-height: calc(70 / 1440 * $WIDTH);
    /* identical to box height, or 350% */

    //letter-spacing: 0.105em;

    color: #ffffff;
  }

  &__text {
    position: absolute;
    width: calc(99 / 1440 * $WIDTH);
    height: calc(36 / 1440 * $WIDTH);
    left: calc(301 / 1440 * $WIDTH);
    top: calc(93 / 1440 * $WIDTH);

    font-family: "Lab Grotesque", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(12 / 1440 * $WIDTH);
    line-height: calc(18 / 1440 * $WIDTH);
    /* or 150% */

    letter-spacing: 0.05em;

    color: #6d6d6d;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(436 / 1440 * $WIDTH);
    height: calc(16 / 1440 * $WIDTH);
    left: calc(770 / 1440 * $WIDTH);
    top: calc(103 / 1440 * $WIDTH);

    &__item {
      font-family: "Lab Grotesque", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: calc(13 / 1440 * $WIDTH);
      line-height: calc(16 / 1440 * $WIDTH);

      text-align: right;
      letter-spacing: calc(0.05 / 1440 * $WIDTH);
      text-transform: uppercase;

      color: #949494;
    }
    &__item:hover {
      color: #ffcf7a;
    }
  }

  &__phone-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: calc(50 / 1440 * $WIDTH);
    height: calc(50 / 1440 * $WIDTH);
    left: calc(1267 / 1440 * $WIDTH);
    top: calc(85 / 1440 * $WIDTH);

    background: #ffcf7a;
    border-radius: calc(2 / 1440 * $WIDTH);
    &__gradient {
      width: 100%;
      height: 100%;
    }
    &__icon {
      position: absolute;
      width: calc(18 / 1440 * $WIDTH);
      height: calc(18 / 1440 * $WIDTH);
    }
  }

  &__fireplace-image {
    position: absolute;
    width: calc(700 / 1440 * $WIDTH);
    height: calc(429 / 1440 * $WIDTH);
    left: calc(617 / 1440 * $WIDTH);
    top: calc(227 / 1440 * $WIDTH);
  }

  &__big-gradient-text {
    position: absolute;
    width: calc(780 / 1440 * $WIDTH);
    height: calc(161 / 1440 * $WIDTH);
    left: calc(123 / 1440 * $WIDTH);
    top: calc(227 / 1440 * $WIDTH);

    font-family: "Lab Grotesque", sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: calc(64 / 1440 * $WIDTH);
    line-height: calc(80 / 1440 * $WIDTH);

    letter-spacing: calc(0.05 / 1440 * $WIDTH);
    text-transform: uppercase;

    background: linear-gradient(
      226.43deg,
      #ffffff 49.37%,
      rgba(255, 255, 255, 0) 99.78%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__price {
    position: absolute;
    width: calc(178 / 1440 * $WIDTH);
    height: calc(40 / 1440 * $WIDTH);
    left: calc(126 / 1440 * $WIDTH);
    top: calc(417 / 1440 * $WIDTH);

    font-family: "Lab Grotesque", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: calc(34 / 1440 * $WIDTH);
    line-height: calc(40 / 1440 * $WIDTH);

    letter-spacing: calc(0.05 / 1440 * $WIDTH);

    color: #ffcf7a;
  }

  &__icon {
    position: absolute;
    width: calc(30 / 1440 * $WIDTH);
    height: calc(30 / 1440 * $WIDTH);

    &--gear {
      left: calc(158 / 1440 * $WIDTH);
      top: calc(543 / 1440 * $WIDTH);
    }
    &--plane {
      left: calc(342 / 1440 * $WIDTH);
      top: calc(543 / 1440 * $WIDTH);
    }

    &__text {
      font-family: "Lab Grotesque", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: calc(14 / 1440 * $WIDTH);
      line-height: calc(22 / 1440 * $WIDTH);
      text-align: center;
      color: #ffffff;

      &--gear {
        position: absolute;
        width: calc(91 / 1440 * $WIDTH);
        height: calc(44 / 1440 * $WIDTH);
        left: calc(126 / 1440 * $WIDTH);
        top: calc(587 / 1440 * $WIDTH);
      }
      &--plane {
        position: absolute;
        width: calc(120 / 1440 * $WIDTH);
        height: calc(44 / 1440 * $WIDTH);
        left: calc(297 / 1440 * $WIDTH);
        top: calc(593 / 1440 * $WIDTH);
      }
    }
  }
}

.second-block {
  position: absolute;
  display: flex;
  justify-content: center;
  width: $WIDTH;
  height: calc(884.65 / 1440 * $WIDTH);
  top: calc(880 / 1440 * $WIDTH);

  &__glows {
    position: absolute;
    width: calc(1020 / 1440 * $WIDTH);
    height: calc(829.65 / 1440 * $WIDTH);
    left: calc(126 / 1440 * $WIDTH);
    top: calc(55 / 1440 * $WIDTH);

    &__1 {
      position: absolute;
      width: calc(826 / 1440 * $WIDTH);
      height: calc(551 / 1440 * $WIDTH);
      left: calc(170 / 1440 * $WIDTH);
      top: calc(5 / 1440 * $WIDTH);

      background: #392924;
      filter: blur(calc(150 / 1440 * $WIDTH));
      border-radius: calc(300 / 1440 * $WIDTH);
    }
    &__2 {
      position: absolute;
      width: calc(508 / 1440 * $WIDTH);
      height: calc(339 / 1440 * $WIDTH);
      left: calc(329 / 1440 * $WIDTH);
      top: calc(140 / 1440 * $WIDTH);

      background: rgba(255, 209, 128, 0.23);
      filter: blur(calc(75 / 1440 * $WIDTH));
      border-radius: calc(300 / 1440 * $WIDTH);
    }
    &__3 {
      position: absolute;
      width: calc(508 / 1440 * $WIDTH);
      height: calc(499.83 / 1440 * $WIDTH);
      left: calc(100 / 1440 * $WIDTH);
      top: calc(280 / 1440 * $WIDTH);

      background: rgba(255, 209, 128, 0.23);
      filter: blur(calc(125 / 1440 * $WIDTH));
      border-radius: calc(300 / 1440 * $WIDTH);
      transform: rotate(135deg);
    }
    &__4 {
      position: absolute;
      width: calc(354.97 / 1440 * $WIDTH);
      height: calc(349.26 / 1440 * $WIDTH);
      left: calc(420 / 1440 * $WIDTH);
      top: calc(75 / 1440 * $WIDTH);

      background: rgba(245, 157, 93, 0.45);
      filter: blur(calc(125 / 1440 * $WIDTH));
      border-radius: calc(300 / 1440 * $WIDTH);
      transform: rotate(135deg);
    }
    &__5 {
      position: absolute;
      width: calc(214 / 1440 * $WIDTH);
      height: calc(132 / 1440 * $WIDTH);
      left: calc(500 / 1440 * $WIDTH);
      top: calc(310 / 1440 * $WIDTH);

      background: rgba(255, 207, 122, 0.72);
      filter: blur(calc(75 / 1440 * $WIDTH));
      border-radius: calc(300 / 1440 * $WIDTH);
    }
    &__6 {
      position: absolute;
      width: calc(156 / 1440 * $WIDTH);
      height: calc(96 / 1440 * $WIDTH);
      left: calc(570 / 1440 * $WIDTH);
      top: calc(328 / 1440 * $WIDTH);

      background: rgba(238, 214, 214, 0.22);
      filter: blur(calc(75 / 1440 * $WIDTH));
      border-radius: calc(300 / 1440 * $WIDTH);
    }
    &__7 {
      position: absolute;
      width: calc(156 / 1440 * $WIDTH);
      height: calc(96 / 1440 * $WIDTH);
      left: calc(300 / 1440 * $WIDTH);
      top: calc(339 / 1440 * $WIDTH);

      background: rgba(255, 155, 82, 0.71);
      filter: blur(calc(50 / 1440 * $WIDTH));
      border-radius: calc(300 / 1440 * $WIDTH);
    }
  }

  &__header {
    position: absolute;
    width: calc(671 / 1440 * $WIDTH);
    height: calc(120 / 1440 * $WIDTH);
    left: calc(385 / 1440 * $WIDTH);

    font-family: "Lab Grotesque", sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: calc(40 / 1440 * $WIDTH);
    line-height: calc(60 / 1440 * $WIDTH);
    /* or 150% */

    text-align: center;
    letter-spacing: calc(0.07 / 1440 * $WIDTH) em;
    text-transform: uppercase;

    background: linear-gradient(
      200.22deg,
      #ffffff 31.8%,
      rgba(255, 255, 255, 0) 87.73%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__text {
    position: absolute;
    width: calc(822 / 1440 * $WIDTH);
    height: calc(66 / 1440 * $WIDTH);
    left: calc(309 / 1440 * $WIDTH);
    top: calc(141 / 1440 * $WIDTH);

    font-family: "Lab Grotesque", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: calc(20 / 1440 * $WIDTH);
    line-height: calc(33 / 1440 * $WIDTH);

    text-align: center;
    letter-spacing: calc(0.03 / 1440 * $WIDTH);

    color: #ffffff;
  }

  &__fireplace-image {
    position: absolute;
    width: calc(1289 / 1440 * $WIDTH);
    height: calc(495 / 1440 * $WIDTH);
    top: calc(190 / 1440 * $WIDTH);
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: calc(50 / 1440 * $WIDTH);
    width: calc(986 / 1440 * $WIDTH);
    top: calc(685 / 1440 * $WIDTH);

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: calc(265 / 1440 * $WIDTH);
      height: 100%;

      &__icon {
        height: 100%;
      }

      &__text {
        font-family: "Lab Grotesque", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: calc(16 / 1440 * $WIDTH);
        line-height: calc(24 / 1440 * $WIDTH);
        /* identical to box height, or 150% */
        margin-left: calc(30 / 1440 * $WIDTH);

        color: #ffffff;
      }
    }
  }
}

.third-block {
  position: absolute;
  width: $WIDTH;

  height: calc(660 / 1440 * $WIDTH);
  top: calc(1760 / 1440 * $WIDTH);

  &__header {
    position: absolute;
    width: calc(224 / 1440 * $WIDTH);
    height: calc(55 / 1440 * $WIDTH);
    left: calc(206 / 1440 * $WIDTH);
    top: calc(90 / 1440 * $WIDTH);

    font-family: "Lab Grotesque", sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: calc(40 / 1440 * $WIDTH);
    line-height: calc(55 / 1440 * $WIDTH);
    /* identical to box height, or 138% */

    letter-spacing: calc(0.07 / 1440 * $WIDTH) em;
    text-transform: uppercase;

    background: linear-gradient(
      233.62deg,
      #ffffff 28.79%,
      rgba(255, 255, 255, 0) 98.2%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__text {
    position: absolute;
    width: calc(370 / 1440 * $WIDTH);
    height: calc(198 / 1440 * $WIDTH);
    left: calc(207 / 1440 * $WIDTH);
    top: calc(165 / 1440 * $WIDTH);

    font-family: "Lab Grotesque", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: calc(18 / 1440 * $WIDTH);
    line-height: calc(33 / 1440 * $WIDTH);

    color: #ffffff;
  }

  &__second-text {
    position: absolute;
    width: calc(234 / 1440 * $WIDTH);
    height: calc(48 / 1440 * $WIDTH);
    left: calc(617 / 1440 * $WIDTH);
    top: calc(487 / 1440 * $WIDTH);

    font-family: "Lab Grotesque", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(14 / 1440 * $WIDTH);
    line-height: calc(24 / 1440 * $WIDTH);

    color: #ffffff;
  }

  &__image {
    position: absolute;
    width: calc(484 / 1440 * $WIDTH);
    height: calc(481 / 1440 * $WIDTH);
    left: calc(700 / 1440 * $WIDTH);
    top: calc(60 / 1440 * $WIDTH);
  }

  &__hose {
    position: absolute;
    width: calc(20 / 1440 * $WIDTH);
    height: calc(20 / 1440 * $WIDTH);
    left: calc(617 / 1440 * $WIDTH);
    top: calc(440 / 1440 * $WIDTH);
  }
  &__power-button {
    position: absolute;
    width: calc(20 / 1440 * $WIDTH);
    height: calc(20 / 1440 * $WIDTH);
    left: calc(706 / 1440 * $WIDTH);
    top: calc(440 / 1440 * $WIDTH);
  }

  &__line {
    position: absolute;
    width: calc(31 / 1440 * $WIDTH);
    height: 0;
    left: calc(658 / 1440 * $WIDTH);
    top: calc(450 / 1440 * $WIDTH);
    margin: 0;

    border: 1px solid #949494;
  }

  &__circle-1 {
    position: absolute;
    width: calc(98 / 1440 * $WIDTH);
    height: calc(98 / 1440 * $WIDTH);
    left: calc(784 / 1440 * $WIDTH);
    top: calc(280 / 1440 * $WIDTH);

    border: calc(1 / 1440 * $WIDTH) solid #ffcf7a;
    border-radius: 50%;
    filter: drop-shadow(
      calc(0 / 1440 * $WIDTH) calc(4 / 1440 * $WIDTH) calc(23 / 1440 * $WIDTH)
        #ffe2a4
    );
  }
}
